{{template "base" . }}
{{ define "content" }}
<h1>Articles</h1>
<hr/>
<ul class="list-group">
  {{ range $i, $_ := . }}
    <li> <a href='/{{ $i }}' class="list-group-item list-group-item-action">{{ $i }}</a></li>
  {{ end }}
</ul>
{{end}}

